body {
    padding: 0;
    margin: 0;
    font-family: "Century Gothic";
}

a {
    text-decoration: none;
}

.direction {
    border-bottom: 1px solid #d1d1d1;
    padding: 20px;
}
.direction ul li {
    display: inline;
    color: #999999;
}

.direction ul li a {
    color: #999999;
}

.direction ul li a:hover {
    color: #3c3c3c;
}

.direction ul li a:active {
    color: #d4d4d4;
}

main h1 {
    padding-bottom: 60px;
    padding-left: 140px;
}

.filter {
    background-color: #606060;
    width: 360px;
    float: left;
    margin-left: 100px;
}

.filter h3 {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.filter label {
    color: #e2b23a;
}

.filter_header {
    text-transform: uppercase;
    background-color: #3c3c3c;
    padding: 20px;
    color: white;
    letter-spacing: 2px;
    margin-top: 0;
}

.price {
    padding: 0 30px 15px;
    border-bottom: 1px solid #4d4d4d;
}

.price h3 {
    margin: 0;
}

.manufacturers {
    border-bottom: 1px solid #4d4d4d;
    padding: 5px 30px 10px;
}

.manufacturers h3 {
    margin-bottom: 25px;
}

.manufacturers table td {
    text-align: left;
    width: 300px;
    padding: 0 0 15px;
}

.manufacturers div label {
    margin-right: 50px;
}

.video_card {
    border-bottom: 1px solid #4d4d4d;
    padding: 5px 30px 15px;
}

.video_card h3 {
    margin-bottom: 25px;
}

.video_card table td {
    padding: 0 0 15px;
}

.filter input[type='submit'] {
    width: 285px;
    height: 45px;
    background-color: #e9b637;
    border: none;
    outline: none;
    font-size: 14.3px;
    font-family: "Century Gothic";
    color: #3c3c3c;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.filter input[type='submit']:hover {
    background: none;
    border: 1px solid #e9b637;
}

.filter input[type='submit']:active {
    opacity: 0.4;
}

.filter input[type='reset'] {
    border: none;
    outline: none;
    font-size: 12px;
    font-family: "Century Gothic";
    color: #919191;
    background: none;
    margin-bottom: 15px;
    cursor: pointer;
}

.filter input[type='reset']:active {
    opacity: 0.4;
}

.filter input[type='checkbox'] {
    outline: none;
}

.filter input[type='checkbox'] + label {
    cursor: pointer;
}

.filter input[type='checkbox']:not(checked) {
    position: absolute;
    opacity: 0;
}

.filter input[type='checkbox']:not(checked) + label {
    position: relative;
    padding: 0 0 0 30px;
}

.filter input[type='checkbox']:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background: #606060;
    border: 2px solid white;
}

.filter input[type='checkbox']:checked + label:after {
    content: '✔';
    position: absolute;
    top: -10px;
    left: 2px;
    color: white;
    font-size: 25px;
}

.filter input[type='radio'] + label {
    cursor: pointer;
}

.filter input[type='radio']:not(checked) {
    position: absolute;
    opacity: 0;
}

.filter input[type='radio']:not(checked) + label {
    position: relative;
    padding: 0 0 0 30px;
}

.filter input[type='radio']:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background-color: #606060;
    border: 2px solid #e9b637;
}

.filter input[type='radio']:checked + label:before {
    content: '';
    background-color: #e9b637;
    border-color: white;
}

.apply {
    text-align: center;
}

.catalog {
    float:right;
    width: 800px;
}

.catalog_header {
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
}

.catalog_header ul li {
    display: inline;
    list-style-type: none;
    margin-right: 50px;
}

.catalog_header ul li a {
    font-size: 10px;
    color: #777777;
    text-transform: uppercase;
}

.catalog_header ul li a:hover {
    color: #3b3b3b;
}

.catalog_header ul li a:active {
    opacity: 0.4;
}

.catalog_header h2 {
    color: #3c3c3c;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-left: 50px;
    margin-right: 120px;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    padding-bottom: 0;
}

.product {
    margin-right: 50px;
    border: 1px solid #cdcccc;
    padding: 20px;
    margin-bottom: 30px;
    width: 250px;
    text-align: center;
}

.product_count {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.product_count a {
    color: #e9b637;
    border: 1px solid #dfdfdf;
    padding: 2px 8px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 13px;
}

.product_count p {
    color: #a7a7a7;
    font-size: 12px;
}

.product_price {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product_one img {
    width: 200px;
}

.product_two img {
    width: 261px;
}

.product_three img {
    width: 180px;
}

.product_four img {
    width: 195px;
}

.basket_button {
    background-color: #e9b637;
    color: #3c3c3c;
    padding: 10px 80px;
    font-size: 13px;
}

.presence {
    background-color: #709f39;
    border: 1px solid #acabab;
    color: white;
    width: 80px;
    font-size: 10px;
    letter-spacing: 1.2px;
    position: relative;
    float: right;
    top: -20px;
    right: -20px;
}

.currency {
    color: #e9b637;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 2px;
}

.currency span {
    color: #3c3c3c;
    text-transform: uppercase;
    font-size: 18px;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    position: relative;
    left: 100px;
    margin-bottom: 30px;
}

.pages ul li {
    display: inline;
    list-style-type: none;
    color: #cacaca;
}

.pages a {
    color: #cacaca;
}

.change_page {
    color: #cacaca;
    border: 1px solid #cacaca;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
}

.change_page:hover {
    color: #edc029;
    border-color: #edc029;
}

.pages ul li a {
    border-radius: 100px;
    padding: 5px 10px;
    border: 1px solid #cacaca;
}

.pages ul li:first-child {
    border-radius: 100px;
    padding: 5px 10px;
    border: 1px solid #edc029;
    color: #edc029;
}

