footer {
    background-color: #464646;
    margin-top: 50px;
    clear: both;
}

.footer_top {
    margin-left: 165px;
    margin-right: 165px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    width: 250px;
    height: 240px;
}

.address p {
    color: #7f7f7f;
    text-transform: uppercase;
    margin-top: 50px;
}

.user_links {
    padding: 0;
    margin-top: 50px;
}

.user_links li{
    display: inline;
    list-style-type: none;
}

.user_links li a {
    color: #e5e5e5;
}

.user_links .user {
    margin-right: 13%;
}

.phone_info a {
    font-size: 26px;
    color: white;
}

.phone_info a:hover {
    color: #e9b637;
}

.map {
    width: 500px;
    text-align: center;
}

.map ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.map ul li {
    display: inline;
}

.map ul li a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

.map ul li a:hover {
    color: #e9b637;
}

.footer_bottom {
    background-color: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_bottom p {
    color: #9c9c9c;
    font-size: 12px;
    margin-right: 50%;
}

.footer_bottom ul li {
    display: inline;
}
