.user_menu {
    display: flex;
    background-color: #3c3c3c;
    height: 75px;
    align-items: center;
    justify-content: space-around;
}

.user_menu a{
    color: white;
    font-weight: bold;
}
.user_menu a[href="tel:+79000000000"]{
    color: #d9aa38;
    padding-left: 22px;
    background: url("../images/header/phone_logo.png") no-repeat;
}

.user_menu input[type="search"] {
    height: 28px;
    width: 240px;
    padding: 0 15px 2px 14px;
    border: 1px solid white;
    color: black;
    font-family: "Century Gothic";
    background: #3c3c3c url("../images/header/search_logo.png") no-repeat 215px;
    outline: none;
}

.user_menu input[type="search"]:hover::-webkit-input-placeholder {
    color: #e4e4e4;
}

.user_menu input[type="search"]:hover {
    background: #3c3c3c url("../images/header/search_logo_hover.png") no-repeat 215px;
}

.user_menu a[href="#"] {
    font-size: 10pt;
}

.user {
    font-size: 10pt;
    font-weight: bold;
    padding-left: 22px;
    background: url("../images/header/user_logo.png") no-repeat;
}

.user:hover {
    color: #dfaf37;
    background: url("../images/header/user_logo_hover.png") no-repeat;
}

.user:active {
    color: #989898;
    background: url("../images/header/user_logo_click.png") no-repeat;
}

.basket {
    font-size: 10pt;
    font-weight: bold;
    padding-left: 22px;
    background: url("../images/header/basket_logo.png") no-repeat;
}

.basket:active {
    opacity: 0.7;
}

.site_menu {
    background-color: #f0f0f0;
    height: 75px;
}

.menu_categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 75px;
}

.menu_categories li{
    list-style-type: none;
    font-weight: bold;
}

.all_categories {
    margin-right: 300px;
    text-transform: uppercase;
    background: url("../images/header/plus.png") no-repeat 130px;
}

.menu_categories li:hover ul {
    display: block;
}

.menu_categories li a{
    color: #3c3c3c;
}

.menu_categories li a:hover {
    color: #dfaf37;
}

.menu_categories li a:active {
    color: #989898;
}

.all_categories {
    padding-right: 22px;
}

.nested_list {
    position: absolute;
    display: none;
    left: 0;
    background-color: #f0f0f0;
    width: 100%;
    z-index: 2;
    padding-left: 9%;
    padding-top: 20px;
}

.nested_list li {
    margin-bottom: 15px;
}

.nested_list li ul li {
    display: inline;
    margin-right: 40px;
}

.nested_list li ul {
    padding: 0;
    display: flex;
}

.nested_list li ul li a {
    font-weight: normal;
    color: #a59d9d;
    font-size: 16px;
    text-transform: none;
}

.nested_list li a {
    font-weight: normal;
    color: #a59d9d;
    font-size: 16px;
    text-transform: none;
}

