.user_menu {
    display: flex;
    background-color: #3c3c3c;
    height: 75px;
    align-items: center;
    justify-content: space-around;
}

.user_menu a{
    color: white;
    font-weight: bold;
}
.user_menu a[href="tel:+79000000000"]{
    color: #d9aa38;
}

.user_menu input[type="search"] {
    height: 28px;
    width: 240px;
    padding: 0 15px 2px 14px;
    border: 1px solid white;
    color: black;
    font-family: "Century Gothic";
    background: #3c3c3c url("../images/header/search_logo.png") no-repeat 215px;
}

.user_menu a[href="#"] {
    font-size: 10pt;
}

.user {
    font-size: 10pt;
    font-weight: bold;
    padding-left: 22px;
    background: url("../images/header/user_logo.png") no-repeat;
}

.basket {
    font-size: 10pt;
    font-weight: bold;
    padding-left: 22px;
    background: url("../images/header/basket_logo.png") no-repeat;
}

.site_menu {
    background-color: #f0f0f0;
    height: 75px;
}

.site_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 75px;
}

.site_menu ul li{
    list-style-type: none;
    font-weight: bold;
}

.site_menu ul li:first-child{
    margin-right: 300px;
    text-transform: uppercase;
    background: url("../images/header/plus.png") no-repeat 130px;
}

.site_menu ul li a{
    color: #3c3c3c;
}

.site_menu ul li a:first-child {
    padding-right: 22px;
}