body {
    padding: 0;
    margin: 0;
    font-family: "Century Gothic";
}

a {
    text-decoration: none;
}

/* слайдер промо */

.slider_promo {
    width: 1160px;
    height: 380px;
    box-shadow: 3px 3px 10px #797979;
    position: relative;
    margin: 0 auto;
    background-color: #e9b637;
    margin-bottom: 45px;
    text-align: center;
}

.slider_promo input {
    display: none;
}

.slider_promo  input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgba(90, 90, 90, 0);
    border: 2px solid white;
    cursor: pointer;
    z-index: 100;
    position: relative;
    margin-right: 4px;
    top: 90%;
    transition: background 0.8s ease-out 0s;
}

.slider_promo  input:checked + label {
    background: white;
}

.slider_promo  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 138px;
    text-align: left;
    z-index: 0;
}

.slider_promo  div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slider_promo  input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slider_promo div h3 {
    margin: 125px 0 0 0;
    padding: 0;
    font-size: 34px;
    color: white;
    text-transform: uppercase;
}

.slider_promo div h4 {
    font-size: 29px;
    margin: 0;
    text-transform: uppercase;
    color: #3c3c3c;
}

.slider_promo div h4 span {
    color: white;
}

.slider_promo div p {
    font-size: 13.6px;
    color: white;
    width: 45%;
    text-align: justify;
    margin-bottom: 30px;
}

.slider_promo div a {
    color: white;
    padding: 10px 60px 10px 60px;
    border: 1px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
}

.first_slide {
    background: url("../images/slider_promo/sale_slider.png") no-repeat 600px;
}
.second_slide {
    background: url("../images/slider_promo/peripheral_slider.png") no-repeat 500px;
}

.third_slide {
    background: url("../images/slider_promo/laptop_slider.png") no-repeat 500px;
}

/* меню категорий */

.categories {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.categories ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 295px;
}

.categories ul li {
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 10pt;
    width: 160px;
    height: 223px;
}

.categories ul li:last-child {
    margin-right: 100px;
}

.categories ul li a {
    color: #3c3c3c;
    font-weight: bold;
}

.categories ul li a div {
    width: 155px;
    height: 155px;
}

.categories_laptops a div {
    background: url('../images/categories_icons/laptops_icon.png');
}

.categories_laptops a div:hover {
    background: url('../images/categories_icons/laptops_icon_hover.png');
}

.categories_laptops a:active div {
    opacity: 0.3;
}

.categories_peripheral a div {
    background: url('../images/categories_icons/peripherals_icon.png');
}

.categories_peripheral a div:hover {
    background: url('../images/categories_icons/peripherals_icon_hover.png');
}

.categories_peripheral a:active div {
    opacity: 0.3;
}

.categories_accessories a div {
    background: url('../images/categories_icons/accessories_icon.png');
}

.categories_accessories a div:hover {
    background: url('../images/categories_icons/accessories_icon_hover.png');
}

.categories_accessories a:active div {
    opacity: 0.3;
}

.categories_routers a div {
    background: url('../images/categories_icons/routers_icon.png');
}

.categories_routers a div:hover {
    background: url('../images/categories_icons/routers_icon_hover.png');
}

.categories_routers a:active div {
    opacity: 0.3;
}

.categories_lamps a div {
    background: url('../images/categories_icons/lamps_icon.png');
}

.categories_lamps a div:hover {
    background: url('../images/categories_icons/lamps_icon_hover.png');
}

.categories_lamps a:active div {
    opacity: 0.3;
}

.categories_games a div {
    background: url('../images/categories_icons/games_icon.png');
}

.categories_games a div:hover {
    background: url('../images/categories_icons/games_icon_hover.png');
}

.categories_games a:active div {
    opacity: 0.3;
}

/* слайдер инфо */

.slider_info {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 38px;
    border-bottom: 1px solid #d1d1d1;
}

.info_buttons {
    padding: 30px 50px 0 0;
    border-right: 1px solid #d1d1d1;
    float: left;
}

.info_buttons li{
    list-style-type: none;
    margin-bottom: 30px;
}

.info_buttons a {
    border: 1px solid #3c3c3c;
    text-transform: uppercase;
}

.delivery_button {
    padding: 8px 70px 8px 70px;
    background-color: #3c3c3c;
    color: #e1b037;
}

.guarantee_button {
    padding: 8px 75px 8px 75px;
    color: #3c3c3c;
}

.credit_button {
    padding: 8px 85px 8px 85px;
    color: #3c3c3c;
}

.info_block {
    padding: 0 0 0 50px;
}

.info_block p {
    font-size: 14px;
    color: #bcbcbc;
    width: 500px;
}

.info_block h3 {
    font-size: 30px;
}

.delivery_info {
    padding: 0 350px 50px 0;
    background: url("../images/slider_info/delivery_logo.png") no-repeat 540px;
}

.guarantee_info {
    padding: 0 350px 50px 0;
    background: url("../images/slider_info/guarantee_logo.png") no-repeat 540px;
    display: none;
}

.credits_info {
    padding: 0 350px 50px 0;
    background: url("../images/slider_info/credit_logo.png") no-repeat 540px;
    display: none;
}


/* партнёры */

.partners {
    background: linear-gradient(to right, rgba(241,241,241,1) 0%,rgba(241,241,241,1) 2%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 100%);
}

.partners ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.partners ul li {
    display: inline;
    list-style-type: none;
}

.partners ul li:hover {
    opacity: 0.4;
}

/* наша компания */

.about_us {
    height: 544px;
    width: 1154px;
    background-color: #e7e7e7;
    margin: 0 auto;
}

.company_info {
    float: left;
    width: 620px; /*680*/
    padding-left: 50px;
    padding-top: 30px;
    color: #929292;
}

.company_info h2 {
    text-transform: uppercase;
    color: #3c3c3c;
}

.company_info h2:after {
    content: ' ';
    display: block;
    width: 75px;
    height: 5px;
    background-color: #e9b637;
    margin-top: 30px;
    margin-bottom: 30px;
}

.company_info ul {
    padding-left: 20px;
    margin-top: 37px;
    width: 410px;
    margin-bottom: 60px;
}

.company_info ul li {
    color: #e9b637;
    margin-bottom: 10px;
}

.company_info ul li span {
    color: #929292;
    font-size: 14px;
}

.company_info a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0 40px 0 40px;
    background: linear-gradient(to bottom, #e7e7e7 0%,#e7e7e7 30%,#e9b637 30%,#e9b637 30%,#e9b637 72%,#e9b637 72%,#e7e7e7 72%,#e7e7e7 72%,#e7e7e7 100%);
}

.dispatch {
    float: right;
    width: 363px;
    background-color: #3c3c3c;
    height: 514px;
    padding-left: 38px;
    padding-top: 30px;
    padding-right:37px;
}

.dispatch h2 {
    text-transform: uppercase;
    color: white;
}

.dispatch h2:after {
    content: ' ';
    display: block;
    width: 75px;
    height: 5px;
    background-color: #e9b637;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dispatch p {
    color: #ededed;
    letter-spacing: 1.6px;
}

.dispatch form p {
    font-size: 11.6px;
    color: #595959;
    letter-spacing: 1px;
    margin-bottom: 44px;
}

.dispatch form input[type='email'] {
    border: 1px solid #8a8a8a;
    background-color: #515151;
    width: 320px;
    height: 45px;
    margin-top: 25px;
    padding: 2px 5px 2px 32px;
    font-size: 14.9px;
    font-family: "Century Gothic";
    margin-bottom: 10px;
    outline: none;
}

.dispatch form input[type='email']:hover::-webkit-input-placeholder {
    color: white;
}

.dispatch form input[type='email']:active::-webkit-input-placeholder {
    color: #cfab4a;
}

.dispatch form input[type='email']:active {
    border-color: white;
}

.dispatch form input[type='email']:invalid {
    border-color: #744244;
    color: #a44848;
}

.dispatch form input[type='submit' ] {
    background-color: #e9b637;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 25px;
    font-family: "Century Gothic";
    font-size: 19px;
    color: #3c3c3c;
    letter-spacing: 2px;
}